@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model bit285_assignment3_api.ViewModels.Login
@{
    Layout = "_Layout";
    ViewBag.Title = "Login";
}
<h1>Login</h1>

<form asp-action="Index" method="post">
    <fieldset>
        <div>
            <label asp-for="UserName"></label>
            <input asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <input type="submit" value="Login" />
            <input type="button" value="Reset" />
        </div>
    </fieldset>
</form>
<div>@ViewBag.LoginIssue</div>
<div><a asp-controller="Naps" asp-action="AccountInfo">Create an Account</a></div>