@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model bit285_assignment3_api.ViewModels.PasswordInfo
@{
    Layout = "_Layout";
}
<h1>Password Information</h1>
<fieldset>
    <form asp-action="PasswordInfo">
        <div>
            <label>Last Name</label>
            <input asp-for="LastName" />
            <span>* required</span>
        </div>
        <div>
            <label>Birth year</label>
            <input asp-for="BirthYear" value="1998" />
            <span>* required</span>
        </div>
        <div>
            <label>Favorite Color</label>
            <input asp-for="FavoriteColor" value="blue" />
            <span>* required</span>
        </div>

        <div>
            <input type="submit" value="Suggest Password" />
            <input type="button" value="Reset" />
        </div>
            <input asp-for="Id" type="hidden"/>
    </form>
</fieldset>
