@inject bit285_assignment3_api.Models.PasswordSuggetionService Suggestions
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model bit285_assignment3_api.ViewModels.PasswordInfo
@{
    Layout = "_Layout";
}
<h1>Choose a Password</h1>
<fieldset>
    <form asp-action="SelectPassword" asp-route-id="@Model.Id">
        <div>
            <label>Password Suggestion</label>
            <input asp-for="Password" value=@Suggestions.generatePassword(Model) />
            <span>* required</span>
        </div>
        <div>
            <input type="Submit" value="Select Password"/>
        </div>
    </form>
</fieldset>
